*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
#navbar{
    max-width: 136.6rem;
    margin: 0 auto;
    position: relative;
}
#nav-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.5rem 0 2rem;
    margin: 2rem 0;
}
#search{
    width: 55rem;
}
#search input{
    width: 75%;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}
#search i{
    transform: translateX(-4rem);
    font-size: 1.6rem;
}
#profile{
    display: flex;
    justify-content: space-between;
}
.cart{
    position: relative;
    width: 3rem;
}
.heart{
    font-size: 2.7rem;
}
.circle{
    width: 1.4rem;
    height: 1.4rem;
    align-items: center;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: -0.2rem;
    top: 0;
}
.circle p{
    font-size: 1.2rem;
    text-align: center;
}
.user{
    font-size: 3rem;
}
#nav-category{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}
#menu{
    width: 21rem;
    padding: 0 1rem;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid lightgrey;
    border-radius: 0.5rem;
}
#menu p{
    font-size: 1.6rem;
    font-weight: 400;
}
#menu i{
    font-size: 1.6rem;
}
.burger-menu{
    width: 2.6rem;
    height: 0.3rem;
    background-color: black;
    margin: 0.4rem 0;
}
#categories{

}
#categories ul{
    list-style-type: none;
    display: flex;
}
.categories-items{
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    font-weight: 400;
}
.categories-items:hover{
    color: #FF4F04;
    border-bottom: 0.3rem solid #FF4F04;
}
#home{
    max-width: 100vw;
    height: 56rem;
    background-image: url("./images/home-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: white;
    position: relative;
}
.home-bg{
    background-image: radial-gradient( rgba(68,48,91,0.3), rgba(68,48,91,0.5), #080421, #080421, #080421);
    width: 100%;
    height: 56rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.home{
    padding-left: 5rem;
    position: relative;
    z-index: 2;
}
.home-picture{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    height: 56rem;
}
.home-picture img{
    height: 56rem;
}
.buy-now{
    width: 13.7rem;
    height: 5rem;
    background-color: #FF4F04;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    font-family: 'Heebo', sans-serif;
    margin-right: 1.5rem;
}
.trade-in{
    width: 22.4rem;
    height: 5rem;
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.7rem;
    font-size: 1.6rem;
    font-family: 'Heebo', sans-serif; 
}
.home-p1{
    font-family: 'Poppins', sans-serif;
    font-size: 5.4rem;
    font-weight: 500;
    color: white;
}
.home-p2{
    font-family: 'Heebo', sans-serif; 
    font-size: 1.6rem;
    color: white;
}
.button-flex{
    display: flex;
    margin-top: 2rem;
}
#recommendation{
    max-width: 136.6rem;
    padding: 5rem 0;
    background-color: ;
    text-align: center;
    margin: auto;
}
#boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    margin: 0 auto;
}

.rec-bg{
    font-family: 'Poppins', sans-serif;
}
.rec-bg-p1{
    font-size: 1.4rem;
    font-weight: 500;
}
.rec-bg-p2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
}
.watch-box{
    width: 25rem;
    height: 30rem;
    border-radius: 0.5rem;
    margin: 0 0.7rem;
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.8rem 0;
}
.watch{
    width: 24rem;
    height: 24rem;
    margin: auto;
    background-color: ;
}
.watch img{
    width: 13.5rem;
}
.watch-box p{
    padding: 0.5rem 0;
}
.watch-name{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}
.watch-price{
    width: 5.6rem;
    height: 3.1rem;
    border: 1px solid #FFEFE8;
    border-radius: 10rem;
    background-color: #FFEFE8;
    color: #FF4F04;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}
.rec-btn{
    width: 22.4rem;
    height: 5.6rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 3rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background-color: white;
}
#discount{
    max-width: 100%;
    height: 25.1rem;
    background-image: url(./images/Rectangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: white;
    position: relative;
}
.discount-bg{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
}
#discount p, #discount a{
    z-index: 1;
}
#discount p{
    padding-left: 8%;
}
#discount a{
    padding-right: 8%;
}
.discount-bnt{
    width: 22.4rem;
    height: 5.6rem;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid white;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
#new-collection{
    max-width: 136.6rem;
    padding: 3rem 0;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.new-c-p1{
    font-size: 1.5rem;
    padding-top: 4rem;
}
.new-c-p2{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.sneakers{
    display: flex;
    max-width: 115rem;
    margin: 0 auto;
    background-color: ;
    flex-wrap: wrap;
    justify-content: center;
}
.left-sneakers{
    display: flex;
    flex-direction: column;
}
.top-sneakers{
    display: flex;
}
.bottom-sneakers{
    display: flex;
}
.sneaker-box{
    width: 30rem;
    height: 31.3rem;
    background-color: #F5F5F5;
    margin: 2rem 1rem;
    border-radius: 0.5rem;
}
.sneaker-box img{
    width: 25rem;
}
.sneaker-description{
    display: flex;
    justify-content: space-between;
    padding: 0 2.8rem;
}
.sneaker-name{
    font-weight: 700;
    font-size: 1.8rem;
}
.sneaker-price{
    width: 6rem;
    height: 3rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF4F04;
}
.sale{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.sale-left{
    width: 8rem;
    height: 3rem;
    background-color: black;
    border: 1px solid black;
    border-radius: 5rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}
.sale-right{
    width: 6rem;
    height: 3rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FF4F04;
}
.right-sneakers{
    width: 50rem;
    height: 66.6rem;
    background-color: #F5F5F5;
    margin: 2rem 0;
}
.right-sneakers img{
    width: 50rem;
}
.right-sneaker-name{
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 0.8rem;
    font-size: 2.6rem;
    font-weight: 700;
}
.right-sneaker-brand{
    color: grey;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 2.1rem;
}
#trending{
    max-width: 136.6rem;
    padding-left: 4.5rem;
    margin: 0 auto;
    background-color: ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.trending-p1{
    font-size: 1.6rem;
    padding-top: 4rem;
}
.trending-p2{
    font-size: 2.5rem;
    font-weight: 700;
}
.trending-boxes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
}
.trending-boxes p{
    display: inline-block;
}
.trending-top{
    display: flex;
}
.trending-bottom{
    display: flex;
}
#footer{
    max-width: 136.6rem;
    height: 30rem;
    margin: 0 auto;
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 3rem 0 8rem;
}
.footer-left{
    width: 25%;
}
.footer-left p{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 0.5rem;
}
.ca{
    display: flex;
    align-items: flex-start;
}
#footer ul{
    list-style-type: none;
}
.footer-headings{
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 4rem;
}
.footer-headings-items{
    font-weight: 500;
    padding: 0.5rem 0;
}
